.standartSources {
  position: relative;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  @media screen and (max-width: 900px) {
    margin: 2rem 4%;
  }
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  padding: 0;
}
